 /* =============
 Общее значение элементов
 ======================*/


   body, html {
    text-decoration: none;

    background-color: white;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    
/* =============
 Подгружаем шрифты
 ======================*/
  
    font-family: 'Comfortaa', cursive;
    /*
    
    */
    font-size: 18px;
}